blinker==1.4
click==7.0
Flask==1.0.2
Flask-Testing==0.7.1
gunicorn==19.9.0
itsdangerous==0.24
Jinja2>=2.10.1
MarkupSafe==1.0
PyJWT==1.6.4
python-dateutil==2.7.3
Werkzeug==0.14.1
pytz==2018.5
boto3==1.9.23
beautifulsoup4==4.6.3
Markdown==3.0.1
