html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3em;
    font-family: Verdana, Geneva, sans-serif;
}

*:focus {
    outline: none;
}

@media only screen and (max-width: 480px) {
    body {
        margin-bottom: 12em;
        font-family: Verdana, Geneva, sans-serif;
    }
}

/* Remove underline on links */
:link {
    text-decoration: none !important;
}

/* Header */
header {
    width: 100%;
    height: 3em;
    background: #228B22;
    color: white;

    z-index: 10;
}

@media only screen and (max-width: 480px) {
    header {
        width: 100%;
        height: auto;
    }

    z-index: 10;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 480px) {
    .hamburger {
        display: block;
        align-item: left;
        margin: 0px;
        padding: 0px;
    }
}

.hamburger-button {
    height: 3em;
    width: 3em;
    line-height: 3em;

    background-color: #228B22;
    color: white;
    border: none;
    text-decoration: none;
    margin: 0px;
}

nav {
    position: relative;
}

/* Navigation */
.nav-menu, .nav-menu--collapsed {
    /* Navbar should be the full height of the header. */
    height: 100%;
    display:flex;

    /* Vertical centering */
    align-items: center;

    flex-direction: row;
}

@media only screen and (max-width: 480px) {
    .nav-menu {
        position: absolute;
        top: 2em;
        left: 0px;
        width: 8em;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* Colors */
        background-color: #228B22;
        color: white;
    }

    .nav-menu--collapsed {
        position: absolute;
        display: none;
    }
}

nav div {
    padding: 0.5em;
}

@media only screen and (min-width: 481px) {
    .nav_right {
        margin-left: auto;
    }
}

nav a {
    color: white;
}

nav a:visited {
    color: #D3D3D3;
}

/* Main content */
main {
    padding: 1em;
    max-width: 60em;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    main {
        padding: 1em;
        width: 100%;
        box-sizing: border-box;
    }
}

main a {
    color: #228B22;
}

main ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

main h1 {
    margin-bottom: 0;
}

/* Footer */
footer {
    /* Positioning of the footer. */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    /* height should be the same size as margin bottom
       on the body */

    /* Align items in the container */
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    /* Colors */
    background: #228B22;
    color: white;

    z-index: 10;
}

@media only screen and (max-width: 480px) {
    footer {
        /* Positioning of the footer. */
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 12em;
        /* height should be at least the same size size as margin bottom
           on the body */

        /* Align items in the container */
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        /* Colors */
        background: #228B22;
        color: white;

	z-index: 10;
    }
}


footer a {
    color: white;
}

footer div {
    padding: 1em;
    white-space: nowrap;
}

/* Photo collection list */
.photo-collection-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

/* Photo collection */
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.photo-gallery img {
    margin: 1em;
}

.photo {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto
    box-sizing: border-box;
}

/* Login page */
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Height of the viewport minus height of the footer and header
       minus the padding for the main element. */
    height: calc(100vh - 6em - 2em);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 12em;
}

.login-form input[type=text], .login-form input[type=password] {
    width: 10em;
    margin: 0.3em;
}

.login-form input[type=submit] {
    width: 8em;
    margin: 0.3em;
}

.button {
    /* Colors */
    background-color: #228B22;
    color: white;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
}

/* Files page */
.files-trash {
    padding-left: 4em;
}

.indian-tea-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Height of the viewport minus height of the footer and header
       minus the padding for the main element. */
    height: calc(100vh - 6em - 2em);
}

.indian-tea-video {
    z-index: -1;
    max-width: 100%;
    height: auto;
}
