html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3em;

    font-family: Verdana, Geneva, sans-serif;
}

/* Remove underline on links */
:link {
    text-decoration: none !important;
}

:visited {
    color: #D3D3D3;
    text-decoration: none !important;    
}

/* Header */
header {
    width: 100%;
    height: 3em;
    background: #228B22;
    color: white;
}

/* Navigation */
nav {
    /* Navbar should be the full height of the header. */
    height: 100%;

    display:flex;

    /* Vertical centering */
    align-items: center;
}

nav div {
    padding: 0.5em;
}

.nav_right {
    margin-left: auto;
}

/* Main content */
main {
    padding: 1em;
    max-width: 40em;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto
}

/* Footer */
footer {
    /* Positioning of the footer. */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    /* height should be the same size as margin bottom
       on the body */

    /* Align items in the container */
    display: flex;
    justify-content: center;

    /* Colors */
    background: #228B22;
    color: white;
}

footer div {
    padding: 1em;
}


