<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/redwood.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">Home</a>
        </div>
        <div>
          <a href="/bookmarks">Bookmarks</a>
        </div>
        <div>
          <a href="/photos">Photos</a>
        </div>
        <div class="nav_right">
          <a>Login</a>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <div>Henrik Treadup</div>
      <div><a><i class="icon-github-sign"></i> GitHub</a></div>
      <div><a><i class="icon-linkedin-sign"></i> LinkedIn</a></div>
    </footer>
  </body>
</html>
