<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <script src="https://use.fontawesome.com/b2831d6e53.js"></script>
    <link rel="stylesheet" href="/static/css/redwood.css" />
    <script src="/static/js/redwood.js"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>   
        <div class="hamburger">
          <button class="hamburger-button" onclick="toggleNavMenu()"><i class="fa fa-bars"></i></button>
        </div>
        <div id="navigation-menu" class="nav-menu--collapsed">
          <div>
            <a href="/">Home</a>
          </div>
          <div>
            <a href="/bookmarks">Bookmarks</a>
          </div>
          <div>
            <a href="/photos">Photos</a>
          </div>
          <div>
            <a href="/time">Time</a>
          </div>
          {% if user %}
          <div>
              <a href="/notes">Notes</a>
          </div>
          <div>
            <a href="/files">Files</a>
          </div>
          <div>
            <a href="/token">Token</a>
          </div>
          {% endif %}
          <div>
            <a href="/contact">Contact</a>
          </div>
          <div class="nav_right">
          {% block auth %}
            {% if user %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
          {% endblock %}
          </div>
        </div>
        {# See if we can have a responsive menu in the corner using the bars icon. http://fontawesome.io/icon/bars/ #}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    {# The footer is causing the extra whitespace on the right and bottom. #}
    <footer>
        <div><i class="fa fa-envelope"></i> henrik.treadup ~at~ gmail.com</div>
      <div><a href="https://github.com/treadup"><i class="fa fa-github"></i> GitHub</a></div>
      <div><a href="https://www.linkedin.com/in/henriktreadup"><i class="fa fa-linkedin-square"></i> LinkedIn</a></div>
    </footer>
  </body>
</html>
