<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/redwood.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">Home</a>
        </div>
        {#
        <div>
          <a href="/bookmarks">Bookmarks</a>
        </div>
        #}
        <div>
          <a href="/photos">Photos</a>
        </div>
        <div>
          <a href="/time">Time</a>
        </div>
        {% if user %}
        <div>
            <a href="/notes">Notes</a>
        </div>
        <div>
            <a href="/files">Files</a>
        </div>
        <div>
            <a href="/token">Token</a>
        </div>
        {% endif %}
        <div>
            <a href="/contact">Contact</a>
        </div>
        <div class="nav_right">
        {% block auth %}
            {% if user %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
            {% endblock %}
        </div>
        {# See if we can have a responsive menu in the corner using the bars icon. http://fontawesome.io/icon/bars/ #}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <div>Henrik Treadup</div>
      <div><i class="icon-envelope"></i> henrik.treadup ~at~ gmail.com</div>
      <div><a href="https://github.com/treadup"><i class="icon-github-sign"></i> GitHub</a></div>
      <div><a href="https://www.linkedin.com/in/henriktreadup"><i class="icon-linkedin-sign"></i> LinkedIn</a></div>
    </footer>
  </body>
</html>
