<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/normalize.css" /> 
    <link rel="stylesheet" href="static/css/redwood.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">Home</a>
        </div>
        <div>
          <a>Bookmarks</a>
        </div>
        <div>
          <a>Photos</a>
        </div>
        <div class="nav_right">
          <a>Login</a>
        </div>
      </nav>
    </header>
    <main>
      In the header have a Home link that takes you back to the main
      index page.
      A bookmarks link that contains useful bookmarks.
      A photos page that contains links of photos.
      A music page that links to good music on youtube.
      An about page might also be good.

      http://stackoverflow.com/questions/30008308/css-flexbox-navbar-right-align
      
      To the left there should be a login button.
    </main>
    <footer>
      <div>Henrik Treadup</div>
      <div><a>GitHub</a></div>
      <div><a>LinkedIn</a></div>
    </footer>
  </body>
</html>
