{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block auth %}{% endblock %}
{% block content %}
<div class="login-form-container">
    <form action="{{action_url}}"
        method="post"
        class="login-form"
        autocomplete="off">
        <label for="username">Username</label>
        <input type="text" name="username" />
        <label>Password</label>
        <input type="password" name="password" />
        {% if login_error_message %}
        <p class="error">{{login_error_message}}</p>
        {% endif %}
        <input type="submit" value="Login" class="button" />
    </form>
</div>
{% endblock %}
